<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>301520722423-3gpr5r15gvsulq3bm6jrt0vl1nf3tt4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.301520722423-3gpr5r15gvsulq3bm6jrt0vl1nf3tt4p</string>
	<key>API_KEY</key>
	<string>AIzaSyAqmopBGlnpd2_JaDfpmngW_MyPbCl6nK8</string>
	<key>GCM_SENDER_ID</key>
	<string>301520722423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.listaapp</string>
	<key>PROJECT_ID</key>
	<string>listah-ae13c</string>
	<key>STORAGE_BUCKET</key>
	<string>listah-ae13c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:301520722423:ios:4b20c9108f8e55664d36f2</string>
</dict>
</plist>